* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle at center center, transparent,rgb(255,255,255)),linear-gradient(309deg, rgba(90, 90, 90,0.05) 0%, rgba(90, 90, 90,0.05) 50%,rgba(206, 206, 206,0.05) 50%, rgba(206, 206, 206,0.05) 100%),linear-gradient(39deg, rgba(13, 13, 13,0.05) 0%, rgba(13, 13, 13,0.05) 50%,rgba(189, 189, 189,0.05) 50%, rgba(189, 189, 189,0.05) 100%),linear-gradient(144deg, rgba(249, 249, 249,0.05) 0%, rgba(249, 249, 249,0.05) 50%,rgba(111, 111, 111,0.05) 50%, rgba(111, 111, 111,0.05) 100%),linear-gradient(166deg, rgba(231, 231, 231,0.05) 0%, rgba(231, 231, 231,0.05) 50%,rgba(220, 220, 220,0.05) 50%, rgba(220, 220, 220,0.05) 100%),linear-gradient(212deg, rgba(80, 80, 80,0.05) 0%, rgba(80, 80, 80,0.05) 50%,rgba(243, 243, 243,0.05) 50%, rgba(243, 243, 243,0.05) 100%),radial-gradient(circle at center center, hsl(107,19%,100%),hsl(107,19%,100%));
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 60%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #000000;
}

/* Photo */
.photo-container {
    height: 80vh;
    width: 50%;
}


.photo-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

/* Accounts */
.accounts {
    background: #fff;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.accounts label,
.accounts .submitsignIn,
.accounts .submitsignUp {
    font-size: 1rem;
}

.accounts input {
    padding: 10px;
    border: none;
    outline: none;
    color: #000000;
}

.accounts .submitsignIn, 
.accounts .submitsignUp {
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    margin: 0 0 10px 0;
}

.signUpbut,
.signInbut {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.submitsignIn:hover,
.submitsignUp:hover {
    background: #000000;
    color: #fff;
}

.signIn {
    width: 90%;   
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s ease;
}

.username-field input,
.password-field input,
.usernameUp-field input,
.passwordUp-field input,
.conpasswordUp-field input {
    height: 50px;
    padding: 20px 0 0 0;
    outline: none;
    font-size: 1rem;
}

.username-field,
.password-field,
.usernameUp-field,
.passwordUp-field,
.conpasswordUp-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50px;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.lab-username,
.lab-password, 
.lab-usernameUp,
.lab-passwordUp,
.lab-conpasswordUp {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0px;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.lab-username::after,
.lab-password::after,
.lab-usernameUp::after,
.lab-passwordUp::after,
.lab-conpasswordUp::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid rgb(4, 6, 104);
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.user-label,
.password-label,
.usernameUp-label,
.passwordUp-label,
.conpasswordUp-label {
    position: absolute;
    left: 0px;
    bottom: 5px;
    transition: all 0.5s ease;
}

.username-field input:focus + .lab-username .user-label,
.username-field input:valid + .lab-username .user-label,
.password-field input:focus + .lab-password .password-label,
.password-field input:valid + .lab-password .password-label,
.usernameUp-field input:focus + .lab-usernameUp .usernameUp-label,
.usernameUp-field input:valid + .lab-usernameUp .usernameUp-label,
.passwordUp-field input:focus + .lab-passwordUp .passwordUp-label,
.passwordUp-field input:valid + .lab-passwordUp .passwordUp-label,
.conpasswordUp-field input:focus + .lab-conpasswordUp .conpasswordUp-label,
.conpasswordUp-field input:valid + .lab-conpasswordUp .conpasswordUp-label {
    transform: translateY(-150%);
    font-size: 0.8rem;
    color: rgb(4, 6, 104);
}

.username-field input:focus + .lab-username::after,
.username-field input:valid + .lab-username::after,
.password-field input:focus + .lab-password::after,
.password-field input:valid + .lab-password::after,
.usernameUp-field input:focus + .lab-usernameUp::after,
.usernameUp-field input:valid + .lab-usernameUp::after,
.passwordUp-field input:focus + .lab-passwordUp::after,
.passwordUp-field input:valid + .lab-passwordUp::after,
.conpasswordUp-field input:focus + .lab-conpasswordUp::after,
.conpasswordUp-field input:valid + .lab-conpasswordUp::after {
    transform: translateX(0%);
}


.signUp {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 90%;
    transform: translateX(5%);
    transition: transform 0.5s ease-in;
}

.active-account {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0%);
}

.inactive {
    opacity: 0;
    pointer-events: none;
}


@media (max-width: 992px) and (min-width: 767px)  {

}

@media (max-width: 768px) and (min-width: 577px) {

    .main-container {
        height: 80vh;
        width: 70%;
        position: relative;
        background: white;
        flex-direction: column;
    }

    .photo-container {
        height: 10vh;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);

    }

    .photo-container img {
        width: 120px;
        height: 120px;
        border: 2px solid #000000;
        border-radius: 50%;
    }

    .accounts {
        width: 100%;
        height: 80vh;
    }

    .accounts input,
    .accounts label,
    .accounts .submitsignIn,
    .accounts .submitsignUp {
        font-size: 0.9rem;
        width: 70%;
        overflow: hidden;
    }

    .accounts input {
        margin-bottom: 10px;
    }

    .username-field,
    .password-field,
    .usernameUp-field,
    .passwordUp-field,
    .conpasswordUp-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}

    .signIn {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .signUp {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        transform: translateY(10px);
        transition: transform 0.5s ease-in;
        justify-content: center;
    }

    .active-account {
        transform: translateY(0px);
    }
}


@media (max-width: 578px) {
    .main-container {
        height: 80vh;
        width: 70%;
        position: relative;
        background: white;
        flex-direction: column;
    }

    .photo-container {
        height: 10vh;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);

    }

    .photo-container img {
        width: 100px;
        height: 100px;
        border: 2px solid #000000;
        border-radius: 50%;
    }

    .accounts {
        width: 100%;
        height: 80vh;
    }

    .accounts input,
    .accounts label,
    .accounts .submitsignIn,
    .accounts .submitsignUp {
        font-size: 0.9rem;
        width: 80%;
        overflow: hidden;
    }

    .accounts input {
        margin-bottom: 10px;
    }

    .username-field,
    .password-field,
    .usernameUp-field,
    .passwordUp-field,
    .conpasswordUp-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}

    .signIn {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .signUp {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        transform: translateY(10px);
        transition: transform 0.5s ease-in;
        justify-content: center;
    }

    .active-account {
        transform: translateY(0px);
    }
}
